{% comment %} {% load static %}

<div class="navbar">
  <a href="/"> <div class="logo">BragBags</div></a>
  <div class="nav-links">
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
    {% if request.user.is_authenticated %}
    <div class="dropdown1">
      <a href="{% url 'profile' %}" class="dropbtn1">Profile</a>
      <div class="dropdown-content1">
          <a href="{% url 'address' %}">Address</a>  
          <a href="{% url 'order' %}">Orders</a>  
      </div>
  </div>
    <a href="{% url "logout" %}">Logout</a>
    <a href="{% url "viewcart" %}"><i class="fa-solid fa-cart-shopping"></i>
      {% if cart_count > 0 %}
        <span class="cart-count" style="border:2px solid black;">{{cart_count}}</span>
      {% endif %}
    </a>
    {% else %}
    <a href="/registration/">Register</a>
    <a href="{% url "login" %}">Login</a>
    {% endif %}
    
  </div>
</div> {% endcomment %}

{% load static %}
<div class="navbar">
  <a href="/"> <div class="logo">BragBags</div></a>
  <div class="nav-links">
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
    {% if request.user.is_authenticated %}
    <div class="dropdown1">
      <a href="{% url 'profile' %}" class="dropbtn1">Profile</a>
      <div class="dropdown-content1">
          <a href="{% url 'address' %}">Address</a>  
          <a href="{% url 'order' %}">Orders</a>  
      </div>
    </div>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'viewcart' %}"><i class="fa-solid fa-cart-shopping"></i>
      {% if cart_count > 0 %}
        <span class="cart-count" style="border:2px solid black;">{{cart_count}}</span>
      {% endif %}
    </a>
    {% else %}
    <a href="/registration/">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</div>