{% extends "core/base.html" %} {% block content %}

<div class="profile_container">
  <div class="profile-wrapper">
    <h2 class="profile-heading">Update Profile</h2>

    {# Success messages #} {% if messages %} {% for message in messages %}
    <p class="success-message">{{ message }}</p>
    {% endfor %} {% endif %} {# Profile Form #}
    <form class="pro-form" method="POST">
      {% csrf_token %} {% for field in mf %}
      <div class="form-section">
        <label class="form-label">{{ field.label }}</label>
        {{ field }} {% if field.errors %}
        <div class="error-message">
          {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit" class="submit-button">Update Profile</button>
    </form>

    {% comment %}
    <a href="{% url 'logout' %}">
      <button class="button-1">Logout</button>
    </a>
    {% endcomment %}

    <a href="{% url 'changepassword' %}">
      <button class="button-1">Change Password</button>
    </a>
  </div>
</div>

{% endblock content %}
