@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --back: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    background: rgb(238,174,202);
    background: var(--back)
}

header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    width: 200px;
    border-radius: 10px;
}

form button{
    padding: 8px;
    border-radius: 10px;
    margin-right: 20px;
    background: var(--back);
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
}