{% extends "core/base.html" %} {% load static %}

<!---->
{% block content %}
<div class="forgot-heading">
  <h1>Forgot password page</h1>
</div>
<div class="forgot-container">
  <div class="forgot-pass-form-container">
    <form class="forgot-form" action="" method="POST">
      {% csrf_token %}
      <!---->
      <label for="email">Enter your email:</label>
      <input type="email" id="email" name="email" />
      <button class="reg-button" type="submit">Reset Password</button>
    </form>
    {% comment %} <a href="{% url "passwordresetdone" %}">resetsuccess</a> {% endcomment %}
  </div>
</div>
{% endblock content %}
