body{
    background-color: #000;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    perspective: 600px; /* Applying perspective */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

.box{
    width: 200px;
    height: 200px;
    /* background: lightblue; */
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    transform: rotateX(50deg);
}