<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/main.css" %}">
    <title>BragBags</title>
  </head>
  <body>

    {% comment %} <div class="left-right-margin">
      <nav>
        <div class="leftsection">
          <a href="/"> <h3>BragBags</h3></a>
        </div>
        <div class="rightsection">
          <ul>
            <li> <a href="/">Profile</a> </li>
            <li> <a href="#">About Us</a> </li>
            <li> <a href="#">Contact Us</a> </li>
            <li> <a href="#">Login</a> </li>
            <li> <a href="#">Logout</a> </li>
          </ul>
        </div>
      </nav>
    </div> {% endcomment %}

    <div class="left-right-margin">
      <nav>
          <div class="leftsection">
              <a href="/"><h3>BragBags</h3></a>
          </div>
          <div class="hamburger" onclick="toggleMenu()">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
          <div class="rightsection">
              <ul id="nav-menu">
                  <li><a href="/">Profile</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Logout</a></li>
              </ul>
          </div>
      </nav>
  </div>

    {% comment %} ======tilted============== {% endcomment %}

    <div class="tilted-container">
      <div class="tilt-1">
        <div class="img-section">
          <img src="{% static "core/images/asset-54.png" %}" alt="tilted-1">
        </div>
        <div class="tilt-text">
          <h3>Best Seller</h3>
          <p>Shop BragBags's best-sellers online. Discover the most popular, <br> top-rated travel gear handpicked by BragBags fans!</p>
          <button type="submit">Shop Now</button>
        </div>
      </div>
      <div class="tilt-2">
        <div class="tilt-text">
          <h3>New Arrivals</h3>
          <p>Shop new carry-on luggage to backpacks. <br> Freshen up your next trip with the latest in luggage and travel gear.</p>
          <button type="submit">Shop Now</button>
        </div>
        <div class="img-section">
          <img src="{% static "core/images/asset-55-flip.png" %}" alt="tilted-1">
        </div>
      </div>
    </div>


    {% comment %} ====different item section===== {% endcomment %}

    <div class="product-container">
      <div class="product-types">
        <div class="type-1">
          <a href="suitcat/"> <img src="{% static "core/images/asset-13.jpeg" %}" alt="asset13"></a>
          <a href=""> <p>Explore More &gt; </p> </a>
        </div>
        <div class="type-2">
          <a href=""> <p>Explore More &gt; </p> </a>
          <img src="{% static "core/images/asset-17.jpeg" %}" alt="asset17">
        </div>
        <div class="type-3">
          <img src="{% static "core/images/asset-28.jpeg" %}" alt="asset17">
          <a href=""> <p>Explore More &gt; </p> </a>
        </div>
        <div class="type-4">
          <a href=""> <p>Explore More &gt; </p> </a>
          <img src="{% static "core/images/asset-17.jpeg" %}" alt="asset17">
        </div>
      </div>
    </div>

    {% comment %} ==========tilted section================ {% endcomment %}
   
    <div class="wrapper">
      <div class="container">
          <input type="radio" name="slide" id="c1" checked>
          <label for="c1" class="card">
              <div class="row">
                  <div class="text-section">
                    <h4>Trendy Backpacks <br> and many more</h4>
                    <button type="submit">Explore more</button>
                  </div>

              </div>
          </label>
          <input type="radio" name="slide" id="c2" >
          <label for="c2" class="card">
              <div class="row">
                <div class="text-section">
                  <h4>Cool Duffle Bags <br> and many more</h4>
                  <button type="submit">Explore more</button>
                </div>
              </div>
          </label>
          <input type="radio" name="slide" id="c3" >
          <label for="c3" class="card">
              <div class="row">
                <div class="text-section">
                  <h4>Trendy Backpacks <br> and many more</h4>
                  <button type="submit">Explore more</button>
                </div>
              </div>
          </label>
          <input type="radio" name="slide" id="c4" >
          <label for="c4" class="card">
              <div class="row">
                <div class="text-section">
                  <h4>Sporty BymBags <br> and many more</h4>
                  <button type="submit">Explore more</button>
                </div>
              </div>
          </label>
      </div>
  </div>


  {% comment %} ===============slideshow========= {% endcomment %}

  <div class="slide-container">
    <div class="slide-full-cont">
      <div class="slideshow-cont">
        <img class="slide active" src="{% static "core/images/asset-21.jpeg" %}" alt="asset21">
        <img class="slide" src="{% static "core/images/asset-22.jpeg" %}" alt="asset22">
        <img class="slide" src="{% static "core/images/asset-24.jpeg" %}" alt="asset24">
        <img class="slide" src="{% static "core/images/asset-37.jpeg" %}" alt="asset37">
      </div>
      <div class="text-desc">
        <h4>CheckOut Our Popular Products</h4>
        <button>Explore Popular</button>
      </div>
    </div>
  </div>


  {% comment %} ============footer================ {% endcomment %}

  <footer>
    <div class="get-update">
      <div class="left-section">
        <h1>STAY UPTO DATE ABOUT <br> OUR LATEST OFFERS</h1>
      </div>
      <div class="right-section">
        <input type="text" name="" id="" placeholder="enter name">
        <input type="email" name="" id="" placeholder="enter email">
        <br>
        <button type="submit">Submit</button>
      </div>
    </div>
    <div class="last-banner">
      <div class="section-1">
        <h3>BragBags</h3>
        <p>We have bags that suits your style from wide range of category</p>
        <div class="icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </div>
      <div class="section-2">
        <h5 id="link-word">Links</h5>
        <a href="/">Home</a>
        <a href="/">About Us</a>
        <a href="/">Contact</a>
        <a href="/">Login</a>
      </div>
      <div class="section-3">
        <h5 id="link-word">Help</h5>
        <a href="/">Terms & conditions</a>
        <a href="/">Privacy Policy</a>
        <a href="/">Customer Service</a>
      </div>
      <div class="section-4">
        <h5 id="link-word">FAQ</h5>
        <a href="/">Account</a>
        <a href="/">Manage Deliveries</a>
        <a href="/">Orders</a>
        <a href="/">Payments</a>
      </div>
    </div>
    <hr>
    <div class="coprwrite">
      <p>BragBags.co &copy; 2025, All Rights Reserved</p>
    </div>
  </footer>



    <script src="{% static "core/js/jquery.js" %}"></script>
    <script src="{% static "core/js/popper.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/154c2a8c03.js" crossorigin="anonymous"></script>

    <script>
      let slides = document.querySelectorAll(".slide");
      let currentIndex = 0;

      function showSlides() {
          slides.forEach(slide => slide.classList.remove("active"));
          currentIndex = (currentIndex + 1) % slides.length;
          slides[currentIndex].classList.add("active");
      }

      setInterval(showSlides, 2000); 

      function toggleMenu() {
        const navMenu = document.getElementById('nav-menu');
        const hamburger = document.querySelector('.hamburger');
        navMenu.classList.toggle('active');
        hamburger.classList.toggle('active');
    }
  </script>



  </body>
</html>

