<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/main.css" %}">
    <title>BragBags</title>
  </head>
  <body>

    <div class="left-right-margin">
      <nav>
        <div class="leftsection">
          {% comment %} <a href="/"><img src="{% static "core/images/new-logo.png" %}" alt=""></a> {% endcomment %}
          <a href="/"> <h3>BragBags</h3></a>
        </div>
        <div class="rightsection">
          <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="#">About Us</a> </li>
            <li> <a href="#">Contact Us</a> </li>
            <li> <a href="#">Login</a> </li>
          </ul>
        </div>
      </nav>
    </div>

    {% comment %} ======tilted============== {% endcomment %}

    <div class="tilted-container">
      <div class="tilt-2">
        <div class="tilt-text">
          <h3>New Arrivals</h3>
          <p>Shop new carry-on luggage to backpacks. <br> Freshen up your next trip with the latest in luggage and travel gear.</p>
          <button type="submit">Shop Now</button>
        </div>
        <div class="img-section">
          <img src="{% static "core/images/asset-55-flip.png" %}" alt="tilted-1">
        </div>
      </div>
      <div class="tilt-1">
        <div class="img-section">
          <img src="{% static "core/images/asset-54.png" %}" alt="tilted-1">
        </div>
        <div class="tilt-text">
          <h3>Best Seller</h3>
          <p>Shop BragBags's best-sellers online. Discover the most popular, <br> top-rated travel gear handpicked by BragBags fans!</p>
          <button type="submit">Shop Now</button>
        </div>
      </div>
    </div>


    {% comment %} ====different item section===== {% endcomment %}

    <div class="product-container">
      <div class="product-types">
        <div class="type-1">
          <img src="{% static "core/images/asset-13.jpeg" %}" alt="asset13">
          <a href=""> <p>Explore More &gt; </p> </a>
          {% comment %} <p>Suitcases</p> {% endcomment %}
        </div>
        <div class="type-2">
          <a href=""> <p>Explore More &gt; </p> </a>
          <img src="{% static "core/images/asset-17.jpeg" %}" alt="asset17">
          {% comment %} <p>Explore Our Handbags</p> {% endcomment %}
        </div>
        <div class="type-3">
          <img src="{% static "core/images/asset-28.jpeg" %}" alt="asset17">
          <a href=""> <p>Explore More &gt; </p> </a>
          {% comment %} <p>Explore Our BackPacks</p> {% endcomment %}
        </div>
        <div class="type-4">
          <a href=""> <p>Explore More &gt; </p> </a>
          <img src="{% static "core/images/asset-17.jpeg" %}" alt="asset17">
          {% comment %} <p>Explore Our Tote Bags</p> {% endcomment %}
        </div>
      </div>
    </div>


    {% comment %} ===== slider==== {% endcomment %}
    {% comment %} <div id="carouselExampleDark" class="carousel carousel-dark slide ca-margin">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <a href="/"> <img src="{% static "core/images/asset-9.png" %}" class="d-block w-100" alt="..."></a>
          
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static "core/images/asset-11.png" %}" class="d-block w-100" alt="...">
          
        </div>
        <div class="carousel-item">
          <img src="{% static "core/images/asset-13.png" %}" class="d-block w-100" alt="...">
          
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> {% endcomment %}


    {% comment %} ==========tilted section================ {% endcomment %}



   
    <div class="wrapper">
      <div class="container">
          <input type="radio" name="slide" id="c1" checked>
          <label for="c1" class="card">
              <div class="row">
                  <div class="text-section">
                    <h4>Trendy Backpacks <br> and many more</h4>
                    <button type="submit">Explore more</button>
                  </div>

              </div>
          </label>
          <input type="radio" name="slide" id="c2" >
          <label for="c2" class="card">
              <div class="row">
                <div class="text-section">
                  <h4>Cool Duffle Bags <br> and many more</h4>
                  <button type="submit">Explore more</button>
                </div>
              </div>
          </label>
          <input type="radio" name="slide" id="c3" >
          <label for="c3" class="card">
              <div class="row">
                <div class="text-section">
                  <h4>Trendy Backpacks <br> and many more</h4>
                  <button type="submit">Explore more</button>
                </div>
              </div>
          </label>
          <input type="radio" name="slide" id="c4" >
          <label for="c4" class="card">
              <div class="row">
                <div class="text-section">
                  <h4>Sporty BymBags <br> and many more</h4>
                  <button type="submit">Explore more</button>
                </div>
              </div>
          </label>
      </div>
  </div>


  {% comment %} ===============slideshow========= {% endcomment %}

  <div class="slide-container">
    <div class="slide-full-cont">
      <div class="slideshow-cont">
        <img class="slide active" src="{% static "core/images/asset-21.jpeg" %}" alt="asset21">
        <img class="slide" src="{% static "core/images/asset-22.jpeg" %}" alt="asset22">
        <img class="slide" src="{% static "core/images/asset-24.jpeg" %}" alt="asset24">
        <img class="slide" src="{% static "core/images/asset-37.jpeg" %}" alt="asset37">
      </div>
      <div class="text-desc">
        <h4>CheckOut Our Popular Products</h4>
        <button>Explore Popular</button>
      </div>
    </div>
  </div>


  {% comment %} ============footer================ {% endcomment %}

  <footer>
    <div class="get-update">
      <div class="left-section">
        <h1>STAY UPTO DATE ABOUT <br> OUR LATEST OFFERS</h1>
      </div>
      <div class="right-section">
        <input type="text" name="" id="" placeholder="enter name">
        <input type="email" name="" id="" placeholder="enter email">
        <br>
        <button type="submit">Submit</button>
      </div>
    </div>
    <div class="last-banner">
      <div class="section-1">
        <h3>BragBags</h3>
        <p>We have bags that suits your style from wide range of category</p>
        <div class="icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </div>
      <div class="section-2">
        <h5 id="link-word">Links</h5>
        <a href="/">Home</a>
        <a href="/">About Us</a>
        <a href="/">Contact</a>
        <a href="/">Login</a>
      </div>
      <div class="section-3">
        <h5 id="link-word">Help</h5>
        <a href="/">Terms & conditions</a>
        <a href="/">Privacy Policy</a>
        <a href="/">Customer Service</a>
      </div>
      <div class="section-4">
        <h5 id="link-word">FAQ</h5>
        <a href="/">Account</a>
        <a href="/">Manage Deliveries</a>
        <a href="/">Orders</a>
        <a href="/">Payments</a>
      </div>
    </div>
    <hr>
    <div class="coprwrite">
      <p>BragBags.co &copy; 2025, All Rights Reserved</p>
    </div>
  </footer>



    <script src="{% static "core/js/jquery.js" %}"></script>
    <script src="{% static "core/js/popper.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/154c2a8c03.js" crossorigin="anonymous"></script>

    <script>
      let slides = document.querySelectorAll(".slide");
      let currentIndex = 0;

      function showSlides() {
          slides.forEach(slide => slide.classList.remove("active"));
          currentIndex = (currentIndex + 1) % slides.length;
          slides[currentIndex].classList.add("active");
      }

      setInterval(showSlides, 2000); // Change image every 0.5s
  </script>



  </body>
</html>

