<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/main.css" %}">
    <link rel="stylesheet" href="{% static "core/css/navbar2.css" %}">  
    <link rel="stylesheet" href="{% static "core/css/suitcategory.css" %}">  
    <title>Document</title>
  </head>
  <body>

    <div class="navbar-container">
        <nav>
          <div class="leftsection">
            <a href="/"> <h3>BragBags</h3></a>
          </div>
          <div class="rightsection">
            <ul>
              <li><a href="/">Profile</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    
    <div class="suitcase-category">
        <div class="box" id="box1">
            <a href="/product/"><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a>
            <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
        </div>
        <div class="box" id="box2">
            <a href=""><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a>
            <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
        </div>
        <div class="box" id="box3">
            <a href=""><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a>
            <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
        </div>
        <div class="box" id="box4">
            <a href=""><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a>
            <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
        </div>
        <div class="box" id="box5">
            <a href=""><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a>
            <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
        </div>
        <div class="box" id="box6">
            <a href=""><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a>
            <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
        </div>
    </div>


    <footer>
        <div class="get-update">
          <div class="left-section">
            <h1>STAY UPTO DATE ABOUT <br> OUR LATEST OFFERS</h1>
          </div>
          <div class="right-section">
            <input type="text" name="" id="" placeholder="enter name">
            <input type="email" name="" id="" placeholder="enter email">
            <br>
            <button type="submit">Submit</button>
          </div>
        </div>
        <div class="last-banner">
          <div class="section-1">
            <h3>BragBags</h3>
            <p>We have bags that suits your style from wide range of category</p>
            <div class="icons">
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-x-twitter"></i>
            </div>
          </div>
          <div class="section-2">
            <h5 id="link-word">Links</h5>
            <a href="/">Home</a>
            <a href="/">About Us</a>
            <a href="/">Contact</a>
            <a href="/">Login</a>
          </div>
          <div class="section-3">
            <h5 id="link-word">Help</h5>
            <a href="/">Terms & conditions</a>
            <a href="/">Privacy Policy</a>
            <a href="/">Customer Service</a>
          </div>
          <div class="section-4">
            <h5 id="link-word">FAQ</h5>
            <a href="/">Account</a>
            <a href="/">Manage Deliveries</a>
            <a href="/">Orders</a>
            <a href="/">Payments</a>
          </div>
        </div>
        <hr>
        <div class="coprwrite">
          <p>BragBags.co &copy; 2025, All Rights Reserved</p>
        </div>
      </footer>
    
    
    
        <script src="{% static "core/js/jquery.js" %}"></script>
        <script src="{% static "core/js/popper.js" %}"></script>
        <script src="{% static "core/js/bootstrap.min.js" %}"></script>
        <script src="https://kit.fontawesome.com/154c2a8c03.js" crossorigin="anonymous"></script>

    

  </body>
</html>
