/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c3b7a7;
    padding: 15px 25px;
} */

.navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 3px 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); /* for transparent  */
    backdrop-filter: blur(10px); /* for Blur */
    padding: 15px 25px;
    z-index: 10; 
}

.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top: -10px; /* Adjust this value to shift it up */
    z-index: 0; /* Keeps it behind the navbar */
}

.navbar a {
    color: #000;
    font-size: large;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #c5aaaa;
    border-radius: 4px;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 900;
    font-family: "Grape Nuts", cursive;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links a {
    margin-left: 10px;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar .nav-links a {
        margin: 5px 0;
        text-align: center;
    }
}