
/* ----login /sign up---- */

.auth-container {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    box-shadow: 7px 7px 0px black;
}

/* Title */
.auth-container .form-box h2 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

/* Form Styling */
.auth-container .form-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-container .form-box form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Button Styling */
.auth-container .form-box form button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 5px;
}

.auth-container .form-box form button:hover {
    transform: scale(1.05);
}

/* Toggle Text */
.auth-container .form-box p {
    color: white;
    margin-top: 15px;
    font-size: 14px;
}

.auth-container .form-box p span {
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}