{% extends "core/base2.html" %} {% load static %} {% block content %}

<div class="suitcase-category">
  <div class="box" id="box1">
    <a href="/product/">
      <img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a
    >
    <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
  </div>
  <div class="box" id="box2">
    <a href=""
      ><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a
    >
    <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
  </div>
  <div class="box" id="box3">
    <a href=""
      ><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a
    >
    <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
  </div>
  <div class="box" id="box4">
    <a href=""
      ><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a
    >
    <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
  </div>
  <div class="box" id="box5">
    <a href=""
      ><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a
    >
    <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
  </div>
  <div class="box" id="box6">
    <a href=""
      ><img src="{% static "core/images/asset_13.png" %}" alt="asset-13"></a
    >
    <p>BragBags- Small Cabin Suitcase (55cm) 4 Wheels - Fury 55 - Teal</p>
  </div>
</div>

{% endblock content %}
