{% extends 'recipe/base.html' %} {% block content %}
<h2>Add Recipe</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Title Field -->
  <div class="form-group">
    <label for="{{ form.title.id_for_label }}">Recipe Title*</label>
    {{ form.title }} {% if form.title.errors %}
    <div class="error">{{ form.title.errors }}</div>
    {% endif %}
  </div>

  <!-- Ingredients Field -->
  <div class="form-group">
    <label>Ingredients*</label>
    {{ form.ingredients }}
  </div>

  <!-- Process Field -->
  <div class="form-group">
    <label>Cooking Process*</label>
    {{ form.process }}
  </div>

  <!-- Image Field -->
  <div class="form-group">
    <label>Recipe Image</label>
    {{ form.image }}
  </div>

  <button type="submit" class="btn btn-primary">Submit Recipe</button>
</form>
{% endblock %}
