{% extends 'recipe/base.html' %} {% load static %} {% block content %}
<div class="main-div">
  <main class="recipe-detail-page">
    <!-- Hero Section -->
    <div class="recipe-hero-container">
      <img src="{{ recipe.image.url }}" class="recipe-hero" alt="{{ recipe.title }}" />
      <div class="hero-overlay">
        <div class="recipe-header">
          <h1>{{ recipe.title }}</h1>
          <div class="recipe-meta">
            <span>By {{ recipe.user.username }}</span>
            <span>{{ recipe.created_at|date:"M d, Y" }}</span>
          </div>
        </div>
        {% comment %} <button class="favorite-btn" onclick="window.location.href='{% url 'toggle_favorite' recipe.id %}'">
          {% if is_favorite %}
            <i class="fas fa-heart"></i> Remove from Favorites
          {% else %}
            <i class="far fa-heart"></i> Add to Favorites
          {% endif %}
        </button> {% endcomment %}
      </div>
    </div>

    <!-- Content Columns -->
    <div class="recipe-content">
      <section class="ingredients">
        <h2>Ingredients</h2>
        <p>{{ recipe.ingredients }}</p>
      </section>

      <section class="instructions">
        <h2>Instructions</h2>
        <p>{{ recipe.process }}</p>
      </section>
    </div>
  </main>
  <a href="{% url "explore" %}"> <button>Back to recipes</button> </a>
  

</div>

{% endblock %}
