{% extends 'recipe/base.html' %} {% load static %} {% block content %}
<div class="main-div">
  <main class="recipe-detail-page">
    <!-- Hero Section -->
    <div class="recipe-hero-container">
      <input
  value="favorite-button"
  name="favorite-checkbox"
  id="favorite"
  checked="checked"
  type="checkbox"
  onclick="window.location.href='{% url 'fav' recipe.id %}'"
/>
<label class="container" for="favorite">
  <svg
    class="feather feather-heart"
    stroke-linejoin="round"
    stroke-linecap="round"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    viewBox="0 0 24 24"
    height="24"
    width="24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
    ></path>
  </svg>
  <div class="action">
    <span class="option-1">Add to Favorites</span>
    <span class="option-2">Added to Favorites</span>
  </div>
</label>
      <img
        src="{{ recipe.image.url }}"
        class="recipe-hero"
        alt="{{ recipe.title }}"
      />
      <div class="hero-overlay">
        <div class="recipe-header">
          <h1>{{ recipe.title }}</h1>
          <div class="recipe-meta">
            <span>By {{ recipe.user.username }}</span>
            <span>{{ recipe.created_at|date:"M d, Y" }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Columns -->
    <div class="recipe-content">
      <section class="ingredients">
        <h2>Ingredients</h2>
        <p>{{ recipe.ingredients }}</p>
      </section>

      <section class="instructions">
        <h2>Instructions</h2>
        <p>{{ recipe.process }}</p>
      </section>
    </div>
  </main>
  <a href="{% url "explore" %}"> <button>Back to recipes</button> </a>
  

</div>

{% endblock %}
