<footer>
  <div class="get-update">
    <div class="left-section">
      <h1>
        STAY UPTO DATE ABOUT <br />
        OUR LATEST OFFERS
      </h1>
    </div>
    <div class="right-section">
      <input type="text" name="" id="" placeholder="enter name" />
      <input type="email" name="" id="" placeholder="enter email" />
      <br />
      <button type="submit">Submit</button>
    </div>
  </div>
  <div class="last-banner">
    <div class="section-1">
      <h3>BragBags</h3>
      <p>We have bags that suits your style from wide range of category</p>
      <div class="icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
    </div>
    <div class="section-2">
      <h5 id="link-word">Links</h5>
      <a href="/">Home</a>
      <a href="/">About Us</a>
      <a href="/">Contact</a>
      <a href="/">Login</a>
    </div>
    <div class="section-3">
      <h5 id="link-word">Help</h5>
      <a href="/">Terms & conditions</a>
      <a href="/">Privacy Policy</a>
      <a href="/">Customer Service</a>
    </div>
    <div class="section-4">
      <h5 id="link-word">FAQ</h5>
      <a href="/">Account</a>
      <a href="/">Manage Deliveries</a>
      <a href="/">Orders</a>
      <a href="/">Payments</a>
    </div>
  </div>
  <hr />
  <div class="coprwrite">
    <p>BragBags.co &copy; 2025, All Rights Reserved</p>
  </div>
</footer>
