<div class="tilted-container">
  <div class="tilt-1">
    <div class="img-section">
      <img src="{% static "core/images/asset-54.png" %}" alt="tilted-1">
    </div>
    <div class="tilt-text">
      <h3>Best Seller</h3>
      <p>
        Shop BragBags's best-sellers online. Discover the most popular, <br />
        top-rated travel gear handpicked by BragBags fans!
      </p>
      <button type="submit">Shop Now</button>
    </div>
  </div>
  <div class="tilt-2">
    <div class="tilt-text">
      <h3>New Arrivals</h3>
      <p>
        Shop new carry-on luggage to backpacks. <br />
        Freshen up your next trip with the latest in luggage and travel gear.
      </p>
      <button type="submit">Shop Now</button>
    </div>
    <div class="img-section">
      <img src="{% static "core/images/asset-55-flip.png" %}" alt="tilted-1">
    </div>
  </div>
</div>
