@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Coustard", serif;
    font-weight: 100;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    background-color: #0F0D0D;
}

#page1{
    min-height: 100vh;
    width: 100%;
}

#nav{
    height: 6.5vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#nav h4{
    text-transform: uppercase;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

#nav-part2 h5{
    text-transform: uppercase;
}

#nav-part2 h5:nth-child(1){
    border-bottom: 2px solid white;
}

#nav-part3{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.text-wrapper {
    margin-left: 12vw;
}
  
.text-wrapper h1 {
    font-size: 6vw;
    font-weight: 100;
    margin-top: 7vw;
}
  
.text-wrapper h2 {
    font-size: 6vw;
    font-weight: 100;
    margin-left: 8vw;
}

.vid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
}

.vid-wrapper video{
    width: 60%;
}
/* ------------------ */

#page2{
    min-height: 150vh;
    width: 100%;
}


  

/* - */
/* From Uiverse.io by mi-series */ 
.button {
    width: 150px;
    padding: 0;
    border: none;
    transform: rotate(0deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #DC143C;
  }
  
  .button span {
    background: #000;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
  }
  
  .button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
  }
  


