<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/main.css" %}">
    <title>Document</title>
  </head>
  <body>
    <h1>Details of all content</h1>
    {{mf}}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Heroic Name</th>
        </tr>
      </thead>
      <tbody>
          {% for m in mf %}
        <tr>
          <th scope="row">{{m.id}}</th>
          <td>{{m.name}}</td>
          <td>{{m.heroic_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/"> <button>Home</button> </a>

    <script src="{% static "core/js/jquery.js" %}"></script>
    <script src="{% static "core/js/popper.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
  </body>
</html>
