<footer class="footer-section">
  {% comment %}
  <div class="get-update">
    <div class="left-section">
      <h1>
        STAY UPTO DATE ABOUT <br />
        OUR LATEST OFFERS
      </h1>
    </div>
    <div class="right-section">
      <input type="text" name="" id="" placeholder="enter name" />
      <input type="email" name="" id="" placeholder="enter email" />
      <br />
      <button type="submit">Submit</button>
    </div>
  </div>
  {% endcomment %}

  <div class="footer-top">
    <div class="footer-brand">
      <h3>BragBags</h3>
      <p>We have bags that suit your style from a wide range of categories.</p>
      <div class="footer-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
    </div>
    <div class="footer-links">
      <h5>Links</h5>
      <a href="/">Home</a>
      <a href="/">About Us</a>
      <a href="/">Contact</a>
      <a href="/">Login</a>
    </div>
    <div class="footer-help">
      <h5>Help</h5>
      <a href="/">Terms & Conditions</a>
      <a href="/">Privacy Policy</a>
      <a href="/">Customer Service</a>
    </div>
    <div class="footer-faq">
      <h5>FAQ</h5>
      <a href="/">Account</a>
      <a href="/">Manage Deliveries</a>
      <a href="/">Orders</a>
      <a href="/">Payments</a>
    </div>
  </div>
  <hr />
  <div class="footer-bottom">
    <p>BragBags.co &copy; 2025, All Rights Reserved</p>
  </div>
</footer>
